body {
    background-color: #2b3151;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    padding: 5px;
}
.block {
    width: 75%;
    margin: auto;
    padding: 10%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.182) 0px 10px 25px;
    background-color:#313961;
    color: white;
}

.typebox-wrapper {
    display: flex;
    flex-direction: row;
}

.typebox {
    background-color: rgba(255, 255, 255, 0.615);
    border: white solid 3px ;
    font-weight: 500;
    color: black;
    border-radius: 15px;
    width: 25%;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
img {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
p {
    font-weight: 100;
}

h1, h3{
    color: yellow
}

h2 {
    color: rgb(13, 6, 47);
}